body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('SignIn & Home Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: fit-content;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #4b0082;
    margin-bottom: 15px;
    margin-left: -5px;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 1em;
    color: #9248ab;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

textarea {
    resize: none;
    height: 100px;
}

input[type="file"] {
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    color: #4b0082;
    font-family: 'Outfit', sans-serif;
    border: 1px solid #4c008200;
}

button.submit-button {
    padding: 10px 15px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #4b0082;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button.submit-button:hover {
    background-color: #9248ab;
}

/* Error message styling if you choose to use it */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #9248ab;
    box-shadow: 0 0 5px rgba(146, 72, 171, 0.5);
}
