body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('SignIn & Home Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: fit-content;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #4b0082;
    margin-bottom: 15px;
    font-size: 2em;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    max-width: 1200px; /* Prevent the grid from being too wide */
    margin: 0 auto;
}

.items-grid p {
    color: #9248ab;
    font-weight: bolder;
}

.item-card {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-card input[type="checkbox"] {
    margin-bottom: 10px; 
    margin-top: -5px;
    transform: scale(1.3); 
    accent-color: #9248ab;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.item-card img {
    width: 200px;
    height: 267px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.item-card p {
    font-size: 1.3em;
    font-weight: bold;
    color: #4b0082;
    margin-top: 5px;
    cursor: pointer;
}

.done-button {
    padding: 8px 10px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #4b0082;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.done-button:hover {
    background-color: #9248ab;
}

.no-items-message {
    font-size: 1.2em;
    color: #4b0082;
    text-align: center;
    margin-top: 20px;
}
