<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/errorView.css">
    <link href="https://fonts.cdnfonts.com/css/outfit" rel="stylesheet">
</head>
<body>
    <main>
        <div class="error-container">
            <h1>Oops! Something went wrong</h1>
            <p><%= error %></p>
            <button onclick="history.back()">Go Back</button>
        </div>
    </main>
</body>
</html>
