<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutFitly App</title>
    <link rel="stylesheet" href="/css/welcomeView.css">
    <link href="https://fonts.cdnfonts.com/css/outfit" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">OutFitly</div>
        <nav>
            <a href="/outfitly/aboutus" class="about-us">About us</a>
            <a href="/outfitly/signIn" class="sign-in">Sign in</a>
        </nav>
    </header>
    <main>
        <section class="intro">
            <div class="intro-content">
                <h1><span class="small-text">Introducing</span> <span class="large-text">OUTFITLY</span></h1>
                <p>Outfitly is an app designed to help users manage their wardrobe, create outfits for different
                    events.<br>This app acts as a digital closet and personal stylist.</p>
                <a href="/outfitly/signIn" class="get-started">Get Started
                    <div class="arrow">
                        <img src="/css/Arrow Image.png" alt="Arrow">
                    </div>
                </a>
            </div>
            <div class="clothing-grid">
                <img src="/css/clothing-grid.png" alt="Clothing Grid">
            </div>
        </section>
        <section class="app-preview">
            <div class="app-screenshot">
                <img src="/css/Home Screenshot.png" alt="App Screenshot">
            </div>
        </section>
    </main>
</body>
<footer>
<div class="footer">
    <div class="footer-section footer-logo">
        <div>OutFitly</div>
    </div>
    <div class="footer-section footer-links">
        <div class="footer-link">
            <div class="home-icon">
            <a href="/outfitly" class="footer-item">Home</a>
            </div>
        </div>
        <div class="footer-link">
            <div class="info-icon">
                <a href="/outfitly/aboutus" class="footer-item">About us</a>
            </div>
        </div>
    </div>
    <div class="footer-section contact-links">
        <div>Contact Us</div>
        <a href="mailto:someone@example.com">Email</a>
        <a href="https://www.linkedin.com">LinkedIn</a>
        <a href="https://www.instagram.com">Instagram</a>
        <a href="https://www.twitter.com">Twitter</a>
    </div>
    <div class="footer-newsletter">
        <div>Join our newsletter</div>
        <input type="email" placeholder="user@gmail.com"> 
        <button onclick="alert('You Joined the Newsletter Successfully!')" type="submit" >Submit</button>
    </div>
</div>
</footer>
</html>